{% extends "base.html" %}
{% load static %}
{% block title %}Página inicial{% endblock title %}
{% block content %}
    <h3>Pokemons</h3>
    {% if user.is_authenticated %}
        <a href="{% url 'pokedex:add_pokemon' %}">Añadir pokemon</a>
    {% endif %}
   <div class="row">
    {% for pokemon in pokemons %}
    <div class="col-sm-4">
      <br>
      <div class="card pokemon-card">
        <img class="card-img-top" src="{% if pokemon.picture %}{{ pokemon.picture.url }}{% else %}{% static 'Logo.png' %}{% endif %}" alt="{{ pokemon.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ pokemon.name }}</h5>
          <p class="card-text">Altura {{pokemon.height }}</p>
          <a href="{{pokemon.name}}" class="btn btn-primary">
            <i class="fa-solid fa-eye"></i>
          </a>
          {% if user.is_authenticated %}
          <a href="edit_pokemon/{{pokemon.name}}" class="btn btn-primary">
          <i class="fa-solid fa-pencil"></i>
        </a>
        <a href="delete_pokemon/{{pokemon.name}}" class="btn btn-danger">
          <i class="fa-solid fa-trash"></i>
        </a>
          {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
 